<a href="https://colab.research.google.com/github/deep100/mldata/blob/master/NB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/deep100/mldata/master/titanic.csv")
df.head()

   PassengerId  ... Survived
0            1  ...        0
1            2  ...        1
2            3  ...        1
3            4  ...        1
4            5  ...        0

[5 rows x 12 columns]

In [0]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [0]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [0]:
dummies = pd.get_dummies(inputs.Sex)

In [6]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [7]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [0]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())

In [0]:
model=GaussianNB()
for i in range(0,100):
    x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)
    model.fit(x_train,y_train)
score=model.score(x_test,y_test)
ypred=model.predict(x_test)
yprob=model.predict_proba(x_test)

In [10]:
print(score)
#print(ypred)
#print(yprob)

0.7653631284916201